// router transitions
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

@keyframes leftSlide {
  from {
    transform: translateX(-10%);
    opacity: 50%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes rightSlide {
  from {
    transform: translateX(10%);
    opacity: 50%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  40% {
    transform: scale(1.03);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}