.item-preview-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  .item-preview {
    flex-grow: 1;
  }
  
  .box {
    margin-bottom: 0;
  }
}

.item-preview {
  transition: 0.2s;
  // for spacing in connection view as item is stretched
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: $hover-box-shadow;
    z-index: 2;
  }
}

.item-name, .title:not(:last-child) {
  margin-bottom: 0.8rem;
}

.item-image {
  padding-bottom: 0.8rem;
  
  img {
    min-height: 80px;
    max-height: 200px;
  }
}