.item-list {
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;

    .item-preview-container {
      width: 25rem;

      .item-preview {
        // min-height: 100%;
      }
    }
  }
}