.sub-box {
  padding: 0.3rem
}

.metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  .metadata-image {
    min-width: 50px;
    max-width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .metadata-title {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}