$hover-box-shadow: 0px 0px 34px -14px rgba(0,0,0,0.75);

@import 'bulmaswatch/cosmo/bulmaswatch.scss';
@import './animations.scss';
@import './connection-preview.scss';
@import './item-preview.scss';
@import './card-loader.scss';

.navbar {
  border-radius: 0;
}

.fixed-column {
  margin: auto 1rem;
  padding-left: 0;
  padding-right: 0;
}

@include tablet {
  .fixed-column {
    width: ($tablet - 32px);
    margin: auto;
  }
}