$hover-box-shadow: 0px 0px 34px -14px rgba(0,0,0,0.75);

@import 'bulmaswatch/cosmo/bulmaswatch.scss';
@import './animations.scss';
@import './connection-preview.scss';
@import './item-preview.scss';
@import './card-loader.scss';
@import './item-list.scss';
@import './suggest-input.scss';
@import './metadata.scss';

.wide-container {
  margin: auto 1rem;
  padding-left: 0;
  padding-right: 0;
}

.vertical-pad {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@include tablet {
  .fixed-column {
    max-width: $tablet;
    margin: auto;
  }
}