$hover-box-shadow: 0px 0px 34px -14px rgba(0,0,0,0.75);

@import 'bulmaswatch/cosmo/bulmaswatch.scss';
@import './animations.scss';
@import './card-loader.scss';
@import './suggest-input.scss';

.navbar, .box {
  border-radius: 0;
}

.wide-container {
  margin: auto 1rem;
  padding-left: 0;
  padding-right: 0;
}

.vertical-pad {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.vertical-pad-m {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

@include tablet {
  .fixed-column {
    max-width: $tablet;
    margin: auto;
  }
}

.sub-box {
  padding: 0.3rem
}